# Perkenalan

## Nama : Dimas Furqon Prawimastoro

# Latar Belakang

Canadasalesdata.csv adalah suatu set data yang berisikan tentang penjualan mobil yang dihitung selama setahun, dari mulai tahun 2019 hingga tahun 2021. Dari data tersebut juga dipisahkan berdasarkan jenis merk mobil yang dipantau penjualannya per bulan. selain itu terdapat juga Kategori untuk jenis merk dari Mobil-mobil tersebut.

Adapun tujuan dari dataset ini adalah untuk melihat trend penjualan dari setiap jenis merk mobil yang bergerak setiap bulannya dalam rentang waktu 3 tahun, sehingga dari data tersebut dapat terlihat produk jenis merk mobil mana kah yang lebih unggul dari sisi penjualan dan dari sisi periode penjualan.

Dari data yang disajikan dapat diperoleh beberapa permasalahan yang akan ditelaah, antara lain : 
1. Analisis Total penjualan : digunakan untuk melihat agregasi total penjual berdasarkan merk
2. Analisis Trend : digunakan untuk melihat penjualan terbanyak maupun penjualan yang paling sedikit berdasarkan periode bulan atau tahun tertentu.
3. Analisis preferensi pengguna: digunakan untuk analisis untuk mengetahui preferensi pengguna terhadap merk mobil berdasarkan total penjualan
4. Analisis preferensi Kategori: digunakan untuk melihat preferensi terhadap kategori mobil
5. Analisis Kategori x Tahun : digunakan untuk melihat prefersi mobil pada tahun tertentu

# Penjelasan Kolom

Columns:
model: Nama Model Mobil
Jan : Penjualan di bulan Januari (unit)
Feb: Penjualan di bulan Februari (unit)
Mar: Penjualan di bulan March (unit)
Apr: Penjualan di bulan April (unit)
May: Penjualan di bulan May (unit)
Jun: Penjualan di bulanJune (unit)
Jul: Penjualan di bulan Juli (unit)
Aug: Penjualan di bulan Agustus (unit)
Sep: Penjualan di bulan September (unit)
Oct: Penjualan di bulan October (unit)
Nov: Penjualan di bulan November (unit)
Dec: Penjualan di bulan December (unit)
Sumofsales : Jumlah penjualan mobil (unit)
Category : 5 Kategori Mobil
MLS :MIDSIZE LUXURY SUV SALES FIGURES
SLS:SMALL LUXURY SUV SALES FIGURES
LLS: LARGE LUXURY SUV SALES FIGURES
LS:LARGE SUV SALES FIGURES
MS:MIDSIZE SUV SALES FIGURES
Year : Tahun penjualan

# 1. Import Library dan Dataset

## 1.1. Import Library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1.2. Import Dataset

In [3]:
data1 = pd.read_csv('Canadasalesdata.csv')

In [4]:
data1

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Sumofsales,Category,Year
0,Acura MDX,93,389,782,611,550,501,0,0,0,0,0,0,2926,MLS,2021
1,Audi Q7,210,210,236,303,292,303,0,0,0,0,0,0,1554,MLS,2021
2,Audi Q8,130,130,146,211,203,211,0,0,0,0,0,0,1031,MLS,2021
3,BMW X5,323,323,364,518,498,518,0,0,0,0,0,0,2544,MLS,2021
4,BMW X6,72,72,81,113,108,113,0,0,0,0,0,0,559,MLS,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,Subaru Outback,499,621,948,1065,1079,981,1074,845,644,926,1184,1106,10972,MS,2019
232,Toyota 4Runner,605,393,784,762,854,681,824,903,522,690,663,549,8230,MS,2019
233,Toyota Highlander,729,792,1184,1095,1185,1423,1347,1336,1114,1366,1316,924,13811,MS,2019
234,Volkswagen Atlas,530,521,822,925,881,725,761,769,748,933,695,601,8911,MS,2019
235,Volkswagen Touareg,7,2,5,2,1,3,2,0,1,3,0,0,26,MS,2019

# 2. Data Checking

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Model       236 non-null    object
 1   Jan         236 non-null    int64
 2   Feb         236 non-null    int64
 3   Mar         236 non-null    int64
 4   Apr         236 non-null    int64
 5   May         236 non-null    int64
 6   Jun         236 non-null    int64
 7   Jul         236 non-null    int64
 8   Aug         236 non-null    int64
 9   Sep         236 non-null    int64
 10  Oct         236 non-null    int64
 11  Nov         236 non-null    int64
 12  Dec         236 non-null    int64
 13  Sumofsales  236 non-null    int64
 14  Category    236 non-null    object
 15  Year        236 non-null    int64
dtypes: int64(14), object(2)
memory usage: 29.6+ KB

In [6]:
data1.isna().sum()

Model         0
Jan           0
Feb           0
Mar           0
Apr           0
May           0
Jun           0
Jul           0
Aug           0
Sep           0
Oct           0
Nov           0
Dec           0
Sumofsales    0
Category      0
Year          0
dtype: int64

Dapat terlihat bahwa tidak ada kolom yang memiliki 'missing values'

In [7]:
data1["Merek Mobil"]=data1["Model"].str.split().str[0]
data1

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Sumofsales,Category,Year,Merek Mobil
0,Acura MDX,93,389,782,611,550,501,0,0,0,0,0,0,2926,MLS,2021,Acura
1,Audi Q7,210,210,236,303,292,303,0,0,0,0,0,0,1554,MLS,2021,Audi
2,Audi Q8,130,130,146,211,203,211,0,0,0,0,0,0,1031,MLS,2021,Audi
3,BMW X5,323,323,364,518,498,518,0,0,0,0,0,0,2544,MLS,2021,BMW
4,BMW X6,72,72,81,113,108,113,0,0,0,0,0,0,559,MLS,2021,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,Subaru Outback,499,621,948,1065,1079,981,1074,845,644,926,1184,1106,10972,MS,2019,Subaru
232,Toyota 4Runner,605,393,784,762,854,681,824,903,522,690,663,549,8230,MS,2019,Toyota
233,Toyota Highlander,729,792,1184,1095,1185,1423,1347,1336,1114,1366,1316,924,13811,MS,2019,Toyota
234,Volkswagen Atlas,530,521,822,925,881,725,761,769,748,933,695,601,8911,MS,2019,Volkswagen
235,Volkswagen Touareg,7,2,5,2,1,3,2,0,1,3,0,0,26,MS,2019,Volkswagen

In [8]:
merk = data1["Merek Mobil"].unique()
merek = pd.DataFrame({'Merek Mobil':merk})
merek["No"] = pd.DataFrame(np.arange(0,30,1))
merek

      Merek Mobil  No
0           Acura   0
1            Audi   1
2             BMW   2
3        Cadillac   3
4         Genesis   4
5        Infiniti   5
6          Jaguar   6
7            Land   7
8           Lexus   8
9         Lincoln   9
10       Maserati  10
11  Mercedes0Benz  11
12        Porsche  12
13          Tesla  13
14          Volvo  14
15           Alfa  15
16         Toyota  16
17      Chevrolet  17
18           Ford  18
19            GMC  19
20           Jeep  20
21         Nissan  21
22            Kia  22
23          Mazda  23
24         Subaru  24
25     Volkswagen  25
26          Buick  26
27          Dodge  27
28          Honda  28
29        Hyundai  29

# 3. Analisis Data Eksploratori

## 3.1 Analisis Total penjualan selama Setahun secara Agregat

In [9]:
### membuat baris total
datatotal = data1[['Model','Sumofsales','Category','Year']]

In [10]:
datatotal

                  Model  Sumofsales Category  Year
0             Acura MDX        2926      MLS  2021
1               Audi Q7        1554      MLS  2021
2               Audi Q8        1031      MLS  2021
3                BMW X5        2544      MLS  2021
4                BMW X6         559      MLS  2021
..                  ...         ...      ...   ...
231      Subaru Outback       10972       MS  2019
232      Toyota 4Runner        8230       MS  2019
233   Toyota Highlander       13811       MS  2019
234    Volkswagen Atlas        8911       MS  2019
235  Volkswagen Touareg          26       MS  2019

[236 rows x 4 columns]

In [11]:
datatotal.describe()

         Sumofsales         Year
count    236.000000   236.000000
mean    3680.783898  2019.961864
std     4380.003782     0.795350
min        2.000000  2019.000000
25%      925.750000  2019.000000
50%     2132.000000  2020.000000
75%     4257.250000  2021.000000
max    23185.000000  2021.000000

data 'year'masih terbaca data integer, oleh karena itu perlu di cast agar berubah ke tipe string

In [12]:
data1["Year"] = data1["Year"].astype(str)
data1

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Sumofsales,Category,Year,Merek Mobil
0,Acura MDX,93,389,782,611,550,501,0,0,0,0,0,0,2926,MLS,2021,Acura
1,Audi Q7,210,210,236,303,292,303,0,0,0,0,0,0,1554,MLS,2021,Audi
2,Audi Q8,130,130,146,211,203,211,0,0,0,0,0,0,1031,MLS,2021,Audi
3,BMW X5,323,323,364,518,498,518,0,0,0,0,0,0,2544,MLS,2021,BMW
4,BMW X6,72,72,81,113,108,113,0,0,0,0,0,0,559,MLS,2021,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,Subaru Outback,499,621,948,1065,1079,981,1074,845,644,926,1184,1106,10972,MS,2019,Subaru
232,Toyota 4Runner,605,393,784,762,854,681,824,903,522,690,663,549,8230,MS,2019,Toyota
233,Toyota Highlander,729,792,1184,1095,1185,1423,1347,1336,1114,1366,1316,924,13811,MS,2019,Toyota
234,Volkswagen Atlas,530,521,822,925,881,725,761,769,748,933,695,601,8911,MS,2019,Volkswagen
235,Volkswagen Touareg,7,2,5,2,1,3,2,0,1,3,0,0,26,MS,2019,Volkswagen

In [16]:
data1.to_csv("data1.csv")

In [ ]:
datatotal["Year"] = datatotal["Year"].astype(str)

In [ ]:
datatotal.info()

visualisasi data total penjualan

In [ ]:
plt.figure(figsize=(10,5))
plt.bar(datatotal["Year"],datatotal["Sumofsales"], label= "Penjualan (unit)", color = 'skyblue')
plt.show()

In [ ]:
datatotalasc = datatotal.sort_values(by="Year",ascending=True)
print(datatotalasc)

In [ ]:
plt.figure(figsize=(10,5))
plt.bar(datatotalasc["Year"],datatotalasc["Sumofsales"], label= "Penjualan (unit)", color = 'skyblue')
plt.show()

Dapat dilihat bahwa dari data tersebut penjualan selama 3 tahun secara agregat mengalami penurunan, dan penurunan yang signifikan ada pada tahun 2020 ke 2021

## 3.2 Analisis per Tahun

### Analisis Tahun 2019

In [ ]:
data2019 = data1[data1["Year"] == '2019']
data2019

In [ ]:
data2019["Index"] = nomor_pd

In [ ]:
data19total = data2019.groupby("Merek Mobil").agg(
    total_penjualan = ("Sumofsales","sum"),
    total_jan = ("Jan","sum"),
    total_feb = ("Feb","sum"),
    total_mar = ("Mar","sum"),
    total_apr = ("Apr","sum"),
    total_may = ("May","sum"),
    total_jun = ("Jun","sum"),
    total_jul = ("Jul","sum"),
    total_aug = ("Aug","sum"),
    total_sep = ("Sep","sum"),
    total_oct = ("Oct","sum"),
    total_nov = ("Nov","sum"),
    total_dec = ("Dec","sum"),

    ).reindex(['Acura', 'Audi', 'BMW', 'Cadillac', 'Genesis', 'Infiniti',
       'Jaguar', 'Land', 'Lexus', 'Lincoln', 'Maserati', 'Mercedes0Benz',
       'Porsche', 'Tesla', 'Volvo', 'Alfa', 'Toyota', 'Chevrolet', 'Ford',
       'GMC', 'Jeep', 'Nissan', 'Kia', 'Mazda', 'Subaru', 'Volkswagen',
       'Buick', 'Dodge', 'Honda', 'Hyundai'])

In [ ]:
data19gabung = pd.merge(data19total,merek, on='Merek Mobil', how = 'inner')
data19gabung

In [ ]:
data19gabung = data19gabung.sort_values(by = "Merek Mobil", ascending = True)
data19gabung

### Visualisasi data penjualan tahun 2019

In [ ]:
plt.figure(figsize=(15,8))
Ax = data19gabung["Merek Mobil"]
Ay = data19gabung["total_penjualan"]
plt.bar(Ax,Ay,label="Total Penjualan Tahun 2019",color='skyblue')
plt.plot(Ax,Ay,marker = 'o', label="Total Penjualan Tahun 2019",color='pink')
plt.title("Penjualan Mobil Tahun 2019")
plt.xlabel("Merek Mobil")
plt.ylabel("Total Penjualan")
plt.xticks(rotation = 90)
plt.show()

melihat jumlah secara agregat perbulan :

In [ ]:
data19sum = data19gabung[["total_jan","total_feb","total_mar","total_apr","total_may","total_jun","total_jul","total_aug","total_sep","total_oct","total_nov","total_dec"]].sum()
data19 = data19sum.transpose()
data19

In [ ]:
np.shape(data19)

In [ ]:
df19 = pd.DataFrame(data19, columns=['Penjualan'])
df19

In [ ]:
df19["Total Bulan"] = df19.index
df19

In [ ]:
df19["Unit"] = df19["Penjualan"]
df19

In [ ]:
df19.describe()

In [ ]:
plt.figure(figsize=(15,8))
Bx = df19["Total Bulan"]
By = df19["Unit"]
plt.bar(Bx,By,label="Total Penjualan Tahun 2019 per bulan",color='green')
plt.plot(Bx,By,marker = 'o', label="Total Penjualan Tahun 2019 perbulan",color='orange')
plt.title("Total Penjualan Mobil Tahun 2019 per bulan (unit")
plt.xlabel("Bulan")
plt.ylabel("Total Penjualan")
plt.xticks(rotation = 90)
plt.legend()
plt.grid()
plt.show()

### Analisis Tahun 2020

In [ ]:
data2020 = data1[data1["Year"] == '2020']
data2020

In [ ]:
data20total = data2020.groupby("Merek Mobil").agg(
    total_penjualan = ("Sumofsales","sum"),
    total_jan = ("Jan","sum"),
    total_feb = ("Feb","sum"),
    total_mar = ("Mar","sum"),
    total_apr = ("Apr","sum"),
    total_may = ("May","sum"),
    total_jun = ("Jun","sum"),
    total_jul = ("Jul","sum"),
    total_aug = ("Aug","sum"),
    total_sep = ("Sep","sum"),
    total_oct = ("Oct","sum"),
    total_nov = ("Nov","sum"),
    total_dec = ("Dec","sum"),

    ).reindex(['Acura', 'Audi', 'BMW', 'Cadillac', 'Genesis', 'Infiniti',
       'Jaguar', 'Land', 'Lexus', 'Lincoln', 'Maserati', 'Mercedes0Benz',
       'Porsche', 'Tesla', 'Volvo', 'Alfa', 'Toyota', 'Chevrolet', 'Ford',
       'GMC', 'Jeep', 'Nissan', 'Kia', 'Mazda', 'Subaru', 'Volkswagen',
       'Buick', 'Dodge', 'Honda', 'Hyundai'])

In [ ]:
data20gabung = pd.merge(data20total,merek, on='Merek Mobil', how = 'inner')
data20gabung

In [ ]:
data20gabung = data20gabung.sort_values(by = "Merek Mobil", ascending = True)
data20gabung

### Visualisasi data penjualan tahun 2020

In [ ]:
plt.figure(figsize=(15,8))
Cx = data20gabung["Merek Mobil"]
Cy = data20gabung["total_penjualan"]
plt.bar(Cx,Cy,label="Total Penjualan Tahun 2020",color='skyblue')
plt.plot(Cx,Cy,marker = 'o', label="Total Penjualan Tahun 2020",color='pink')
plt.title("Penjualan Mobil Tahun 2020")
plt.xlabel("Merek Mobil")
plt.ylabel("Total Penjualan")
plt.xticks(rotation = 90)
plt.show()

melihat jumlah secara agregat perbulan :

In [ ]:
data20sum = data20gabung[["total_jan","total_feb","total_mar","total_apr","total_may","total_jun","total_jul","total_aug","total_sep","total_oct","total_nov","total_dec"]].sum()
data20 = data20sum.transpose()
data20

In [ ]:
df20 = pd.DataFrame(data20, columns=['Penjualan'])
df20

In [ ]:
df20["Total Bulan"] = df20.index
df20

In [ ]:
df20["Unit"] = df20["Penjualan"]
df20

In [ ]:
df20.describe()

In [ ]:
plt.figure(figsize=(15,8))
Dx = df20["Total Bulan"]
Dy = df20["Unit"]
plt.bar(Dx,Dy,label="Total Penjualan Tahun 2020 per bulan",color='green')
plt.plot(Dx,Dy,marker = 'o', label="Total Penjualan Tahun 2020 perbulan",color='orange')
plt.title("Total Penjualan Mobil Tahun 2020 per bulan (unit")
plt.xlabel("Bulan")
plt.ylabel("Total Penjualan")
plt.xticks(rotation = 90)
plt.legend()
plt.grid()
plt.show()

### Analisis Tahun 2021

In [ ]:
data2021 = data1[data1["Year"] == '2021']
data2021

In [ ]:
data21total = data2021.groupby("Merek Mobil").agg(
    total_penjualan = ("Sumofsales","sum"),
    total_jan = ("Jan","sum"),
    total_feb = ("Feb","sum"),
    total_mar = ("Mar","sum"),
    total_apr = ("Apr","sum"),
    total_may = ("May","sum"),
    total_jun = ("Jun","sum"),
    total_jul = ("Jul","sum"),
    total_aug = ("Aug","sum"),
    total_sep = ("Sep","sum"),
    total_oct = ("Oct","sum"),
    total_nov = ("Nov","sum"),
    total_dec = ("Dec","sum"),

    ).reindex(['Acura', 'Audi', 'BMW', 'Cadillac', 'Genesis', 'Infiniti',
       'Jaguar', 'Land', 'Lexus', 'Lincoln', 'Maserati', 'Mercedes0Benz',
       'Porsche', 'Tesla', 'Volvo', 'Alfa', 'Toyota', 'Chevrolet', 'Ford',
       'GMC', 'Jeep', 'Nissan', 'Kia', 'Mazda', 'Subaru', 'Volkswagen',
       'Buick', 'Dodge', 'Honda', 'Hyundai'])

In [ ]:
data21gabung = pd.merge(data21total,merek, on='Merek Mobil', how = 'inner')
data21gabung

In [ ]:
data21gabung = data21gabung.sort_values(by = "Merek Mobil", ascending = True)
data21gabung

### Visualisasi data penjualan tahun 2021

In [ ]:
plt.figure(figsize=(15,8))
Ex = data21gabung["Merek Mobil"]
Ey = data21gabung["total_penjualan"]
plt.bar(Ex,Ey,label="Total Penjualan Tahun 2021",color='skyblue')
plt.plot(Ex,Ey,marker = 'o', label="Total Penjualan Tahun 2021",color='pink')
plt.title("Penjualan Mobil Tahun 2021")
plt.xlabel("Merek Mobil")
plt.ylabel("Total Penjualan")
plt.xticks(rotation = 90)
plt.show()

melihat jumlah secara agregat perbulan :

In [ ]:
data21sum = data21gabung[["total_jan","total_feb","total_mar","total_apr","total_may","total_jun","total_jul","total_aug","total_sep","total_oct","total_nov","total_dec"]].sum()
data21 = data21sum.transpose()
data21

In [ ]:
df21 = pd.DataFrame(data21, columns=['Penjualan'])
df21

In [ ]:
df21["Total Bulan"] = df21.index
df21

In [ ]:
df21["Unit"] = df21["Penjualan"]
df21

In [ ]:
df21.describe()

In [ ]:
plt.figure(figsize=(15,8))
Fx = df21["Total Bulan"]
Fy = df21["Unit"]
plt.bar(Fx,Fy,label="Total Penjualan Tahun 2021 per bulan",color='green')
plt.plot(Fx,Fy,marker = 'o', label="Total Penjualan Tahun 2021 perbulan",color='orange')
plt.title("Total Penjualan Mobil Tahun 2021 per bulan (unit")
plt.xlabel("Bulan")
plt.ylabel("Total Penjualan")
plt.xticks(rotation = 90)
plt.legend()
plt.grid()
plt.show()

## 3.3 Analisis Preferensi Kendaraan berdasarkan Merek Mobil

Selanjutnya pada tahapan ini kita akan melihat bagaimana kecendrungan preferensi pelanggan berdasarkan merek mobil yang di beli

In [ ]:
# Persiapan dataset
data1["Merek Mobil"].unique()

In [ ]:
datagabung = data1.groupby("Merek Mobil").agg(
    
)