# 1. DATA LOADING

In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("Healthcare-Diabetes.csv")

df

# 2. DATA CLEANSING

In [31]:
df.isnull().sum()

Id                          0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# 3. PREPROCESSING DATA

In [32]:
df_new = df.copy()
df_new = df_new[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age","Outcome"]]
df_new

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
2763,2,75,64,24,55,29.7,0.370,33,0
2764,8,179,72,42,130,32.7,0.719,36,1
2765,6,85,78,0,0,31.2,0.382,42,0
2766,0,129,110,46,130,67.1,0.319,26,1
2767,2,81,72,15,76,30.1,0.547,25,0

In [33]:
df_new2 = df.copy()
df_new2

,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6,148,72,35,0,33.6,0.627,50,1
1,2,1,85,66,29,0,26.6,0.351,31,0
2,3,8,183,64,0,0,23.3,0.672,32,1
3,4,1,89,66,23,94,28.1,0.167,21,0
4,5,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
2763,2764,2,75,64,24,55,29.7,0.370,33,0
2764,2765,8,179,72,42,130,32.7,0.719,36,1
2765,2766,6,85,78,0,0,31.2,0.382,42,0
2766,2767,0,129,110,46,130,67.1,0.319,26,1
2767,2768,2,81,72,15,76,30.1,0.547,25,0

In [34]:
df_new2.drop(columns=["Id"],inplace = True)

In [35]:
df_new2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
2763,2,75,64,24,55,29.7,0.370,33,0
2764,8,179,72,42,130,32.7,0.719,36,1
2765,6,85,78,0,0,31.2,0.382,42,0
2766,0,129,110,46,130,67.1,0.319,26,1
2767,2,81,72,15,76,30.1,0.547,25,0

# 4. Balancing

## 4.1 Balancing(OVERSAMPLING)

In [36]:
#masih data asli (bukan data latih)
x = df_new2.drop(columns=["Outcome"])
y = df_new2["Outcome"]

In [42]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from collections import Counter
#memanggil SMOTE
smote = SMOTE(random_state=42)

In [43]:
#kode oversampling

#Split data menjadi Train (80%) dan Test (20%)*
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

# *Oversampling dengan SMOTE (hanya pada training data)*
smote = SMOTE(random_state=42)
x_train_smote, y_train_smote = smote.fit_resample(x_train, y_train)
print("Distribusi kelas setelah SMOTE (Oversampling):", Counter(y_train_smote))

Distribusi kelas setelah SMOTE (Oversampling): Counter({0: 1453, 1: 1453})

In [48]:
#kode oversampling

#Split data menjadi Train (70%) dan Test (30%)*
x_train70, x_test30, y_train70, y_test30 = train_test_split(x, y, test_size=0.3, random_state=42, stratify=y)

# *Oversampling dengan SMOTE (hanya pada training data)*
smote = SMOTE(random_state=42)
x_train_smote7030, y_train_smote7030 = smote.fit_resample(x_train70, y_train70)
print("Distribusi kelas setelah SMOTE (Oversampling):", Counter(y_train_smote7030))

Distribusi kelas setelah SMOTE (Oversampling): Counter({0: 1271, 1: 1271})

## 4.2 Balancing(UNDERSAMPLING)

In [36]:
#masih data asli (bukan data latih)
x = df_new2.drop(columns=["Outcome"])
y = df_new2["Outcome"]

In [50]:
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import train_test_split
from collections import Counter
#memanggil SMOTE
smote = SMOTE(random_state=42)

In [58]:
#kode oversampling

#Split data menjadi Train (80%) dan Test (20%)*
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

# *Oversampling dengan SMOTE (hanya pada training data)*
rus = RandomUnderSampler(random_state=42)
x_train_rus, y_train_rus = rus.fit_resample(x_train, y_train)
print("Distribusi kelas setelah Random Under Sample (Underrsampling):", Counter(y_train_rus))

Distribusi kelas setelah Random Under Sample (Underrsampling): Counter({0: 761, 1: 761})

In [59]:
#kode oversampling

#Split data menjadi Train (70%) dan Test (30%)*
x_train70, x_test30, y_train70, y_test30 = train_test_split(x, y, test_size=0.3, random_state=42, stratify=y)

# *Oversampling dengan SMOTE (hanya pada training data)*
rus = RandomUnderSampler(random_state=42)
x_train_rus7030, y_train_rus7030 = rus.fit_resample(x_train70, y_train70)
print("Distribusi kelas setelah Random Under Sample (Underrsampling):", Counter(y_train_rus7030))

Distribusi kelas setelah Random Under Sample (Underrsampling): Counter({0: 666, 1: 666})

In [63]:
y_train_rus7030

929     0
793     0
2024    0
859     0
895     0
       ..
2026    1
1914    1
1844    1
1956    1
1595    1
Name: Outcome, Length: 1332, dtype: int64